[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-environ = "*"
mysqlclient = "*"
environ = "*"
path = "*"
django-cms = "*"
pytz = "*"
croniter = "*"
django-bootstrap5 = "*"
django-toggle-switch-widget = "*"
django-cron = "*"

[dev-packages]

[requires]
python_version = "3.10"
