{% extends "admin/change_list.html" %}
{% load custom_filters %}
{% load static %}

{% block extrastyle %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
      <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
      
{{ block.super }}

    <script>

        // window.onload = function() {

      function toggleSwitchChanged(rowId,value) {
    
    $.ajax({
        url: '/api/toggle_ajax/',
        method: 'POST',
        data: {
            id: rowId,
            value: value,
            // Include any other data needed for the AJAX request
            csrfmiddlewaretoken: '{{ csrf_token }}' // Include CSRF token for Django POST requests
        },
        success: function(response) {
            // Handle the AJAX response
            if (response.success) {
                // Update the table data or perform any other necessary actions
            }
        },
        error: function(error) {
            // Handle AJAX error
        }
    });
    // e.preventDefault();

}

// }


    </script>

{% endblock %}


